name: 00 runners

on:
  workflow_dispatch:

jobs:
  runner-info:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Runner info (Linux)
        if: runner.os == 'Linux'
        shell: bash
        run: |
          echo "=== OS INFO ==="
          uname -a

          echo "=== CPU INFO ==="
          lscpu

          echo "=== MEMORY INFO ==="
          free -h

      - name: Runner info (Windows)
        if: runner.os == 'Windows'
        shell: powershell
        run: |
          Write-Output "=== OS INFO ==="
          systeminfo | Select-String "^OS Name","^OS Version"

          Write-Output "`n=== CPU INFO ==="
          Get-CimInstance Win32_Processor | Select-Object Name, NumberOfCores, NumberOfLogicalProcessors

          Write-Output "`n=== MEMORY INFO ==="
          Get-CimInstance Win32_OperatingSystem | Select-Object TotalVisibleMemorySize, FreePhysicalMemory

      - name: Runner info (macOS)
        if: runner.os == 'macOS'
        shell: bash
        run: |
          echo "=== OS INFO ==="
          sw_vers

          echo "=== CPU INFO ==="
          sysctl -n machdep.cpu.brand_string
          sysctl -a | grep machdep.cpu.core_count

          echo "=== MEMORY INFO ==="
          sysctl hw.memsize
