name: 02 events 02

on:
  issues:
    types:
      - opened
  release:
    types:
      - published
  push:
    branches:
      - master
      - dev
    branches-ignore:
      - legacy
    paths:
      - src/*.js
  pull_request:
    types:
      - opened
      - closed
      - assigned

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Print message
        run: echo "Hello from GitHub Actions!"
