name: 02 events 02

on:
  schedule:
    - cron: "0 2 * * 1" # hetente egyszer szeretnéd futtatni, például hétfőn éjjel 2-kor
  issues:
    types:
      - opened
  release:
    types:
      - published
  push:
    branches:
      - master
      - dev
    paths:
      - src/**/*.js # glob pattern
  pull_request:
    types:
      - opened
      - closed
      - assigned

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Print message
        run: echo "Hello from GitHub Actions!"
